APP_SERVER1_IP=your_app_server1_ip_here
APP_SERVER2_IP=your_app_server2_ip_here

ANSIBLE_USER=sudosu

ANSIBLE_SSH_KEY_PATH=~/.ssh/id_rsa

ANSIBLE_VAULT_PASSWORD=your_vault_password_here

REDMINE_SECRET_KEY_BASE=your_rails_secret_key_base_here

DATADOG_API_KEY=your_datadog_api_key_here 