# Redmine Environment Variables

# Redmine configuration
REDMINE_RELATIVE_URL_ROOT={{ redmine_relative_url_root | default('/') }}

# Rails secret key base (для production)
REDMINE_SECRET_KEY_BASE={{ redmine_secret_key_base }} 